<%= flash[:success] %>
<%= flash[:danger] %>

<h1>Gestion des Items</h1>

<table class="table table-striped">

	<thead>
		<tr>
			<th>Photo</th>
			<th>Titre </th>
			<th>Prix</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody>

		<% @items.each do |each_item| %>
			<tr>
				<td>
					<%if each_item.image_url.attached?%>
						<%= image_tag each_item.image_url, alt: 'image', style: "height: 50px; width: 100%; display: block;" %>
					<%else%>
						<img style="height: 50px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
					<%end%>
				</td>	
				<td><%= each_item.title %></td>
				<td><%= each_item.price %></td>
				<td>
					<%= link_to 'Supprimer', [:admin, each_item], class: 'btn btn-sm btn-danger', data: {method: 'delete', confirm: 'Are you sure ?' } %>
				</td>
				<td>
					<%= form_tag item_image_urls_path(each_item.id),  multipart: true do %>
						<span class= "btn btn-large btn-warning btn-file btn-sm">
							Choose File
							<%= file_field_tag :image_url %>
						</span>
				</td>
				<td>
					<%= submit_tag "Uploader Photo", class: "btn btn-primary btn-sm" %>
				<% end %>
				</td>

			</tr>
		<% end %>

	</tbody>
</table>

<%= link_to "Ajouter un Item", new_admin_item_path, class: 'btn btn-block btn-success' %>

