<%= flash[:success] %>
<%= flash[:danger] %>

<h1>Gestion des Items</h1>

<table class="table table-striped">

	<thead>
		<tr>
			<th>Titre </th>
			<th>Prix</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

		<% @items.each do |each_item| %>
			<tr>
				<td><%= each_item.title %></td>
				<td><%= each_item.price %></td>
				<td>
					<%= link_to 'Supprimer', [:admin, each_item], class: 'btn btn-danger', data: {method: 'delete', confirm: 'Are you sure ?' } %>
				</td>
			</tr>
		<% end %>

	</tbody>
</table>

<%= link_to "Ajouter un Item", new_admin_item_path, class: 'btn btn-block btn-success' %>

