<div class = "container col-md-5 card p-0 border shadow">
  <h2 class="text-center mb-4 card-header border bg-primary text-white "> Forgot your password? </h2>
    <div class= "card-body mr-3 ml-3">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "mb-0" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "form-control btn-secondary my-3" %>
        </div>
      <% end %>

      <div class="bg-light container-fluid border rounded mb-4">
        <center>
          <small class="text-center">
            <%= render "devise/shared/links" %>
          </small>
        </center>
      </div>

    </div>
</div>