<br/>
<br/>

		<div class=" card container-fluid col-md-8 p-0  shadow">

		<div class="card-header bg-secondary text-white ">
			<h2 class="text-center"> Récapitulatif de votre commande: </h2>
		</div>
			<div class = "card-body">
				<%= form_tag charges_path do %>
					<% @cart.items.each do |each_item| %>
						<div><%= each_item.title %> <span class="float-right"><%= each_item.price %> €</span></div>
						<hr>
					<% end %>
						<article>
						<% if flash[:error].present? %>
							<div id="error_explanation">
								<p><%= flash[:error] %></p>
							</div>
						<% end %>
						<label class="amount float-right">
							<h5>Montant total : &nbsp; <span style="color:grey"><%= @amount / 100%> &euro;</span></h5>
						</label>
					</article>
					<br/><br/><br/>
					

					<script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn-block"
									data-key="<%= Rails.configuration.stripe[:publishable_key]%>"
								data-description="a Cart Order"
						data-amount="<%= @amount %>"
					data-locale="auto"></script>

				<% end %>
				</div>
		</div>